array_api_strict==2.2
attr==0.3.2
charset_normalizer==3.3.2
checks==0.2
colorama==0.4.6
ConfigParser==7.1.0
cryptography==44.0.1
Cython==3.0.12
docutils==0.21.2
filelock==3.17.0
fluids==1.1.0
geopy==2.4.1
HTMLParser==0.0.2
hypothesis==6.125.3
ipython==8.12.3
ipywidgets==8.1.5
jacobi==0.9.2
jax==0.5.0
jnius==1.1.0
keyring==25.6.0
matplotlib==3.10.0
mpmath==1.3.0
mtrand==0.1
mypy==1.15.0
ndonnx==0.9.3
numdifftools==0.9.41
pandas==2.2.3
pickle5==0.0.12
Pillow==11.1.0
pint==0.24.4
pooch==1.8.2
protobuf==5.29.3
psutil==6.0.0
pvlib==0.11.2
PyInstaller==6.12.0
pyOpenSSL==25.0.0
pytest==8.3.4
pytest_fail_slow==0.6.0
pytest_run_parallel==0.3.1
pytest_timeout==2.3.1
pytz==2025.1
pywin32==306
PyYAML==6.0.2
PyYAML==6.0.2
redis==5.2.1
scikits.talkbox==0.2.5
scipy_doctest==1.6
setuptools==74.1.2
Sphinx==8.1.3
sympy==1.13.3
thefuzz==0.22.1
thermo==0.4.1
thread==2.0.5
threadpoolctl==3.5.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
